# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/precomputed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/VERSIONS.md

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# MLflow
mlruns/
mlflow.db

# other
draft.ipynb
.claude
models/
*.tar