# Core dependencies
pandas
numpy
scikit-learn
tqdm

# API
fastapi
uvicorn

# Notebooks
jupyter
missingno
seaborn
matplotlib

# Testing
pytest

# NLP
huggingface_hub
transformers
torch
sentence-transformers==3.3.1
accelerate